.result-navbar-container {
  display: none;
  flex-direction: row;
  height: 50px;
  background-color: rgb(23,36,61);
  color: white;
  justify-content: flex-start;
  width: 100%;
  margin-top: -10px;
  display: none;
}

.result-navbar {
  overflow: hidden;
  background-color: rgb(23,36,61);
  color: white;
}

.result-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.result-navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(23,36,61);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* MEDIA QUERIES MOBIL*/
@media (max-width: 667px) {
  .result-navbar-container {
    display: inline;
}
}
